.about {
  background: black;
  position: relative;
  padding: 3rem 0;
  min-height: 100vh;
  box-sizing: border-box;
}

.profiles {
  display: flex;
  justify-content: center;
}

.profiles > * + * {
  margin-left: 2rem;
}
