@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.siteNavLink {
  text-decoration: none;
  text-transform: uppercase;
  color: #aaa;
  font-family: 'Open Sans Condensed';
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.siteNavLink:hover {
  color: #fff;
}

.active {
  color: #fff;
}
