@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  color: #ddd;
  box-sizing: border-box;
  background: black;
  font-family: 'Roboto', sans-serif;
}

a {
  color: white;
}
